name: Publish Docker image
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment:
      name: GLOBAL
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Get current date
        run: echo "DATE=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
      - name: Build and push
        env:
          IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/python-package-template
        uses: docker/build-push-action@v2
        with:
          context: .
          file: .github/docker/Dockerfile.prod
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ env.DATE }}
            ${{ env.IMAGE_NAME }}:${{ github.ref_name }}
